* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.wrapper {
    width: 70%;
    margin: auto;
    
}
.header-wrapper {

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-icon:not(:last-child) {
    margin-right: 55px;
}
.intro {
    background-color: #4fbfa5;
    padding: 25px 0 60px;
}
.intro-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
 .nav-link {
    text-decoration: none;
    font-size: 18px;    
    font-style: italic;
    color: white;

 }   
 .nav-link:last-child {
    background-color: white;
    padding: 10px 50px;
    color: black;
 }
 .intro-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

 }
.intro-img {
    width: 60%;
}
.intro-text {
    width: 30%;
}
.intro-title {
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
}
.intro-descr {
font-size: 14px;
font-style: italic;
margin: 40px 0;
}
.intro-btn {
    padding: 15px 25px;
    background-color: #00868a;
    text-transform: uppercase;
    border: none;
    outline: none;
}



.special-offers {
    padding: 150px 0;

}
h2 {
    text-align: center;
    font-style: italic;
    color: #00868A;
    padding: 0 0 60px 0;

}
.all-offers {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.offers {
    width: 25%;
    margin: 0 10px;
    background-color: #00868A;
    color: white;
    font-style: italic;
}
.offers-image {
    width: 100%;
}
.descr {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 10px;
}
.new {
    position: absolute;
    margin: 30px 30px;
    padding: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #00868A;
}
.theend {
    width: 70%;

    margin: auto;
}
.theend-img {
    margin-right: 55px;
    float: right;
}

.theend {
    width: 68%;
    margin: auto;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-bottom: 30px;
}
/*подскажите как правильно сделать нижнюю чать, это все, на что меня хватило =(